# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Virtual Environment
.venv/
venv/
env/

# Assets directory
assets/

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env.local
.env.staging
.env.staging.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.testing
.env.testing.local
.env.production
.env.production.local

# Database files
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.coverage
htmlcov/
